@import url("granola/cards.css");
@import url("granola/forms.css");
@import url("granola/icons.css");
@import url("granola/slides.css");
@import url("granola/tables.css");
@import url("granola/voting.css");

@import url("granola/print.css") print;

:root {
  --icon-size: 1.5rem;
  --logo: url('/logo/granola.svg');
}

[data-tooltip]:not(a, button, input) {
  border: none;
  cursor: auto;
}

body {
  min-height: 100vh;
}

body > main {
  padding-top: 0;
}

body > footer {
  text-align: center;
}

header a,
footer a {
  text-decoration: none;
}

audio {
  display: block;
  width: 100%;
}

video {
  max-width: 100%;
}

.home header p {
  font-size: 2rem;
}

.filename {
  overflow-wrap: anywhere;
}

.deletable {
  background-color: transparent;
  transition: background-color 1s linear;
}

.deleting {
  background-color: #c00;
}

#top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#top-bar .actions > ul {
  margin: 0;
  display: flex;
}

#top-bar .actions > ul > li {
  list-style-type: none;
  display: inline-flex;
  margin-right: calc(var(--pico-block-spacing-horizontal) / 2);
}

#top-bar .actions ul li.separate {
  border-left: 1px solid var(--pico-muted-color);
  padding-left: var(--pico-block-spacing-horizontal);
  margin-left: var(--pico-block-spacing-horizontal);
}

#top-bar .actions > ul > li > form {
  display: inline-flex;
}

#content {
  clear: both;
}

#content.empty {
  display: none;
}

dialog:target {
  display: flex;
}

dialog article .cards {
  margin-top: calc(var(--spacing) * 2);
  padding: 0;
  grid-template-columns: repeat(2, 1fr);
}

.entry ul {
  list-style-type: none;
}

.entry img {
  max-width: 100%;
}

.qr-code {
  min-height: 2cm;
  min-width: 2cm;
  height: 2rem;
}

.fade {
  font-weight: normal;
  opacity: 0.5;
}

footer .logo {
  background-image: var(--logo);
  background-size: contain;
  padding-left: calc(var(--pico-block-spacing-horizontal) * 1.6);
}

header.logo {
  padding: calc(var(--pico-block-spacing-vertical) * 1.5) calc(var(--pico-block-spacing-horizontal) * 2);
  border: 1px solid var(--pico-muted-border-color);
  background-color: rgba(128, 128, 128, .2);
  border-radius: var(--pico-border-radius);
  margin-bottom: var(--pico-block-spacing-vertical);
  font-size: 1.5rem;
}

header.logo h1::before {
  content: ' ';
  height: calc(var(--pico-font-size) * 1.5);
  aspect-ratio: 1;
  float: left;
  margin-right: calc(var(--pico-block-spacing-horizontal) * 0.6);
  background-image: var(--logo);
  background-size: contain;
  background-position-y: bottom;
}

header.logo h1 {
  font-size: 3rem;
}

header.logo p {
  margin-bottom: 0;
}

.invite-key {
  .digit { color: var(--pico-primary); }
}
