{{ define "placeVote" }}
  {{ $playlistEntry := . }}
  <ul class="place-vote">
    {{ range $score := iterate 5 1 }}
      <li class="star star-{{ $score }} {{ if and $playlistEntry (and $playlistEntry.Vote (eq $playlistEntry.Vote.Score $score)) }}selected{{ end }}">
        <form method="post" action="{{ $playlistEntry.VotesPath }}">
          <button type="submit" name="score" value="{{ $score }}">{{ $score }}</button>
        </form>
      </li>
    {{ end }}
  </ul>
{{ end }}
