{{ define "title" }}Voting{{ end }}
{{ define "head" }}
  <script src="/js/granola-voting.js"></script>
{{ end }}
{{ define "breadcrumbs" }}
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/voting">Voting</a></li>
    <li><a href="/voting/live">Live</a></li>
  </ul>
{{ end }}
{{ define "actions" }}<!---->{{ end }}
{{ define "content" }}
  {{ $this := . }}
  <div id="voting" class="live">
    <h2>Current competition</h2>

    <p>Vote on entries as they are played on the big screen!</p>

    {{ if or (not .Playlist) .Playlist.LiveVotingClosedAt.Valid }}
      {{ if not .Playlist }}
      <p>
        There are currently nothing to live-vote on.
      </p>
      {{ else }}
      <p>
        {{ .Playlist.Name }} was closed for live-voting
        <time datetime="{{ .Playlist.LiveVotingClosedAt.Time | dateTime }}">
          {{ humanize "time" .Playlist.LiveVotingClosedAt.Time }}</time>.
          You therefore cannot live-vote on anything at the moment.
      </p>
      {{ end }}

    {{ else }}
      <div class="voting-container">
        <div class="entries">
          {{ range .Playlist.Entries }}
            <article class="entry" id="entry-{{ .PlaylistEntry.Order }}" data-entry-id="{{ .PlaylistEntry.Path }}">
              {{ template "entryFrame" .PlaylistEntry }}
              <div class="vote">
                {{ template "placeVote" . }}
                {{ template "currentVote" .Vote }}
              </div>
            </article>
          {{ end }}
        </div>
      </div>

      <dialog id="disconnected-dialog">
        <article>
          <header>
            <p>
              <strong>Disconnected</strong>
            </p>
          </header>
          <p>
            We're currently experiencing some technical issues, but we'll
            try to reconnect as soon as possible. Please hold on!
          </p>

          <span class="status" aria-busy="true">Reconnecting...</span>
        </article>
      </dialog>

      <template id="voting-template">
        <article class="entry">
          {{ template "entryFrame" }}
          <div class="vote">
            {{ template "placeVote" }}
            {{ template "currentVote" }}
          </div>
        </article>
      </template>
    {{ end }}
  </div>
{{ end }}
