{{ define "title" }}{{ .Playlist.Name }} - Voting{{ end }}
{{ define "head" }}
  <script src="/js/granola-voting.js"></script>
{{ end }}
{{ define "breadcrumbs" }}
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/voting">Voting</a></li>
    <li><a href="{{ .Playlist.VotingPath }}">{{ .Playlist.Name }}</a></li>
  </ul>
{{ end }}
{{ define "actions" }}<!---->{{ end }}
{{ define "content" }}
  {{ $this := . }}
  <div id="voting">
    <h2>{{ .Playlist.Name }}</h2>

    {{ if or (not .Playlist) .Playlist.VotingClosedAt.Valid }}
      {{ if not .Playlist }}
      <p>
        There are currently nothing to live-vote on.
      </p>
      {{ else }}
      <p>
        {{ .Playlist.Name }} was closed for voting
        <time datetime="{{ .Playlist.VotingClosedAt.Time | dateTime }}">
          {{ humanize "time" .Playlist.VotingClosedAt.Time }}</time>.
          You therefore cannot vote on on entries in this compo any longer.
      </p>
      {{ end }}

      <p>
        Go back to the <a href="/voting">voting</a>-page to check out other
        compos that can be voted for.
      </p>
    {{ else }}
      <div class="voting-container">
        <div class="entries">
          {{ range .Playlist.Entries }}
            <input type="radio"
                   name="entry-selector"
                   value="{{ .PlaylistEntry.Path }}"
                   id="entry-selector-{{ .PlaylistEntry.Order }}"
                   {{ if eq .IsCurrent true }}checked{{ end }}>
            <article class="entry" id="entry-{{ .PlaylistEntry.Order }}" data-entry-id="{{ .PlaylistEntry.Path }}">
              {{ template "entryFrame" .PlaylistEntry }}
              <div class="vote">
                {{ template "placeVote" . }}
                {{ template "currentVote" .Vote }}
              </div>
            </article>
          {{ end }}
        </div>
      </div>
    {{ end }}
  </div>
{{ end }}
