{{ define "picocss" }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.0.6/css/pico.red.min.css" integrity="sha256-PhRN54GQjJwiSeMiLZVOWAxbT5aOhCc8VNchTuZg5KI=" crossorigin="anonymous">
{{ end }}

{{ define "navigation" }}
  {{ $url := "" }}
  {{ if and .HttpContext .HttpContext.URL }}
    {{ $url = .HttpContext.URL }}
  {{ end }}
  <ul>
    <li {{ if hasPrefix $url "/invites" }}class="active"{{ end }}>
      <a href="/invites">Invites</a>
    </li>
    <li {{ if hasPrefix $url "/users" }}class="active"{{ end }}>
      <a href="/users">Users</a>
    </li>
    <li {{ if hasPrefix $url "/compos" }}class="active"{{ end }}>
      <a href="/compos">Compos</a>
    </li>
    <li {{ if hasPrefix $url "/entries" }}class="active"{{ end }}>
      <a href="/entries">Entries</a>
    </li>
    <li {{ if hasPrefix $url "/playlists" }}class="active"{{ end }}>
      <a href="/playlists">Playlists</a>
    </li>
  </ul>
{{ end }}
