{{ define "title" }}Admin{{ end }}
{{ define "breadcrumbs" }}
  <ul>
    <li><a href="/">Home</a></li>
  </ul>
{{ end }}
{{ define "actions" }}<!---->{{ end }}
{{ define "content" }}
  <h2>Admin</h2>

  <ul class="cards">
    <li class="users">
      <a href="/users">
        <article>
          <header>
            <strong>Users</strong>
            <span class="badge">{{ .Stats.users }}</span>
          </header>
          <div class="description">
            Registered users.
          </div>
        </article>
      </a>
    </li>

    <li class="entries">
      <a href="/entries">
        <article>
          <header>
            <strong>Entries</strong>
            <span class="badge">{{ .Stats.entries }}</span>
          </header>
          <div class="description">
            Created entries.
          </div>
        </article>
      </a>
    </li>

    <li class="votes">
      <a href="/results">
        <article>
          <header>
            <strong>Votes</strong>
            <span class="badge">{{ .Stats.votes }}</span>
          </header>
          <div class="description">
            Total number of counting votes.
          </div>
        </article>
      </a>
    </li>

    <li class="score">
      <a href="#">
        <article>
          <header>
            <strong>Score</strong>
            <span class="badge">{{ .Stats.score }}</span>
          </header>
          <div class="description">
            Total score given across all counting votes
          </div>
        </article>
      </a>
    </li>
  </ul>

  <p>
  Granola version: {{ granolaVersion }}
  </p>
{{ end }}
