{{ define "title" }}{{ .Compo.Name }}{{ end }}
{{ define "breadcrumbs" }}
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/compos">Compos</a></li>
    <li><a href="{{ .Compo.Path }}">{{ .Compo.Name }}</a></li>
  </ul>
{{ end }}
{{ define "actions" }}
<ul>
  <li>
    <a href="#edit-compo" class="icon" data-tooltip="Edit {{ .Compo.Name | smartQuote }}" data-placement="left">
      <i class="edit">Edit {{ .Compo.Name | smartQuote }}</i>
    </a>

    <dialog id="edit-compo">
      <article>
        <header>
          <a href="#close" aria-label="Close" rel="prev"></a>
          Edit {{ .Compo.Name }}
        </header>
        <form action="{{ .Compo.Path }}" method="post">
          <input type="hidden" name="_method" value="PUT">

          <label for="name">Name:</label>
          <input type="text" name="name" id="name" required placeholder="Name" value="{{ .Compo.Name }}">

          <label for="type">Type:</label>
          {{ $compoType := .Compo.Type }}
          <select name="type" id="type">
            {{ range .CompoTypes }}
              <option value="{{ . }}" {{ if eq . $compoType }}selected="selected"{{ end }}>
                {{ if . }}{{ title . }}{{ else }}Undefined{{ end }}
              </option>
            {{ end }}
          </select>

          <label>
            <input type="checkbox" name="multiplatform" id="multiplatform" value="true" {{ if .Compo.MultiPlatform }} checked{{ end }}>
            <span class="label-body">Multi-platform</span>
          </label>
          <input type="hidden" name="multiplatform" value="false">

          <label>
            <input type="checkbox" name="locked" id="locked" value="true" {{ if .Compo.Locked }} checked{{ end }}>
            <span class="label-body">Locked</span>
          </label>
          <input type="hidden" name="locked" value="false">

          <label for="description">Description: <span class="fade">(Markdown supported)</span></label>
          <textarea name="description" id="description" rows="4" placeholder="Description">{{ .Compo.Description }}</textarea>

          <input type="submit" value="Update">
        </form>
      </article>
    </dialog>
  </li>
  <li>
    <a href="{{ .Compo.ArchivePath }}"
       class="icon"
       data-tooltip="Download a ZIP archive of {{ .Compo.Name | smartQuote }}"
       data-placement="left">
       <i class="download">Download archive</i>
    </a>
  </li>
  <li class="separate">
    <a href="#add-entry" class="icon" data-tooltip="Add entry" data-placement="left">
      <i class="add">Add entry</i>
    </a>

    <dialog id="add-entry">
      <article>
        <header>
          <a href="#close" aria-label="Close" rel="prev"></a>
          <strong>Add entry</strong>
        </header>
        <form action="{{ .Compo.Path }}/entries" method="POST">

          <label for="title">Title:</label>
          <input type="text" name="title" id="title" required placeholder="Title">

          <label for="author">Author:</label>
          <input type="text" name="author" id="author" required placeholder="Author">

          {{ if .Compo.MultiPlatform }}
          <label for="platform">Platform:</label>
          <input type="text" name="platform" id="platform" placeholder="Platform">
          {{ end }}

          <label for="notes">Notes:</label>
          <textarea name="notes" id="notes" rows="4" placeholder="Notes"></textarea>

          <input type="submit" value="Add">
        </form>
      </article>
    </dialog>
  </li>
</ul>

{{ end }}
{{ define "content" }}
<h2>{{ .Compo.Name }}{{ with .Compo.Locked }} 🔒{{ end }}</h2>

{{ $multiPlatform := .Compo.MultiPlatform }}
<div id="content" {{ if eq (len .Compo.Entries) 0 }}class="empty"{{ end }}>
  <h3>Entries</h3>
  <div class="overflow-auto">
    <table class="entries">
      <thead>
        <tr>
          <th class="title">Title</th>
          <th class="author">Author</th>
          {{ if $multiPlatform }}<th class="platform">Platform</th>{{ end }}
          <th class="uploads">Uploads</th>
          <th class="action">Action</th>
        </tr>
      </thead>
      <tbody>
      {{ range .Compo.Entries }}
      <tr class="deletable">
        <td class="user-input"><a href="{{ .Path }}">{{ .Title }}</a></td>
        <td class="user-input">{{ .Author }}</td>
        {{ if $multiPlatform }}<td class="user-input">{{ .Platform }}</td>{{ end }}
        <td class="uploads">{{ len .Uploads }}</td>
        <td class="action">
          <a href="#delete-entry-{{ .ID }}" class="icon" data-tooltip="Delete {{ .Title | smartQuote }}" data-placement="left">
            <i class="delete">Delete {{ .Title | smartQuote }}</i>
          </a>

          <dialog id="delete-entry-{{ .ID }}">
            <article>
              <header>
                <a href="#close" aria-label="Close" rel="prev"></a>
                <strong>Delete entry</strong>
              </header>
              <p>Are you sure you want to delete {{ .Title | smartQuote }}?</p>
              <form action="{{ .Path }}" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <button name="delete" type="submit">Delete <i class="icon delete"></i></button>
              </form>
            </article>
          </dialog>
        </td>
      </tr>
      {{ end }}
      </tbody>
    </table>
  </div>
</div>

{{ end }}
