{{ define "title" }}{{ .Entry.Title }}{{ end }}
{{ define "breadcrumbs" }}
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/entries">Entries</a></li>
    <li><a href="{{ .Entry.Path }}">{{ .Entry.Title }}</a></li>
  </ul>
{{ end }}

{{ define "actions" }}
<ul>
  <li>
    <a href="#edit-entry" class="icon" title="Edit entry" data-tooltip="Edit {{ .Entry.Title | smartQuote }}" data-placement="left">
      <i class="edit">Edit {{ .Entry.Title | smartQuote }}</i>
    </a>

    <dialog id="edit-entry">
      <article>
        <header>
          <a href="#close" aria-label="Close" rel="prev"></a>
          <strong>Edit entry</strong>
        </header>
        <form action="{{ .Entry.Path }}" method="post">
          <input type="hidden" name="_method" value="PUT">

          <label for="compo">Competition:</label>
          <select id="compo" name="compo" required>
            {{ $compoID := .Entry.CompoID }}
            {{ range .Compos }}
            <option value="{{ .ID }}" data-multiplatform="{{ .MultiPlatform }}"{{ if eq $compoID .ID }} selected{{ end }}>{{ .Name }}</option>
            {{ end }}
          </select>

          <label for="title">Title:</label>
          <input type="text" name="title" id="title" required placeholder="Title" value="{{ .Entry.Title }}">

          <label for="author">Author:</label>
          <input type="text" name="author" id="author" required placeholder="Author" value="{{ .Entry.Author }}">

          <label for="platform">Platform:</label>
          <input type="text" name="platform" id="platform" placeholder="Platform" value="{{ .Entry.Platform }}">

          <label for="notes">Notes:
            {{ if .Config.UseEntryMarkdown }}
            <span class="fade">(Markdown supported)</span>
            {{ end }}
            <textarea name="notes" id="notes" rows="4" placeholder="Notes">{{ .Entry.Notes }}</textarea>
          </label>

          <label>
            <input type="checkbox" name="locked" id="locked" value="true" {{ if .Entry.Locked }} checked{{ end }}>
            <span class="label-body">Locked</span>
          </label>
          <input type="hidden" name="locked" value="false">

          <input type="submit" value="Update">
        </form>
      </article>
    </dialog>
  </li>
  <li>
    <a href="#add-upload" class="icon" data-tooltip="Add upload" data-placement="left">
      <i class="add">Add upload</i>
    </a>

    <dialog id="add-upload">
      <article>
        <header>
          <a href="#close" aria-label="Close" rel="prev"></a>
          <strong>Add upload</strong>
        </header>
        <p>Add upload to {{ .Entry.Title | smartQuote }}.</p>
        <form action="{{ .Entry.Path }}/uploads" method="POST" enctype="multipart/form-data">
          <input type="file" name="file" id="file" required aria-label="File">
          <input type="submit" value="Add">
        </form>
      </article>
    </dialog>
  </li>
</ul>
{{ end }}

{{ define "content" }}
<h2>{{ .Entry.Title }} by {{ .Entry.Author }}</h2>

<article class="entry-frame">
  <header><strong>Slide preview</strong></header>
  <iframe src="{{ .Entry.Path }}/preview"></iframe>
</article>

<div id="content" {{ if eq (len .Entry.Uploads) 0 }}class="empty"{{ end }}>
  <h3>Uploads</h3>
  <div class="overflow-auto">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th class="size">Size</th>
          <th class="date">Updated</th>
          <th class="action">Action</th>
        </tr>
      </thead>
      <tbody>
      {{ range .Entry.Uploads }}
      <tr class="deletable">
        <td class="user-input"><a href="{{ .Path }}">{{ .Filename }}</a></td>
        <td class="size" title="{{ .ContentSize }} bytes">{{ humanize "bytes" .ContentSize }}</td>
        <td class="date"><time datetime="{{ .UpdatedAt | dateTime }}">{{ humanize "time" .UpdatedAt }}</time></td>
        <td class="action">
          <a href="#delete-upload-{{ .ID }}" class="icon" data-tooltip="Delete upload" data-placement="left">
            <i class="delete">Delete upload</i>
          </a>

          <dialog id="delete-upload-{{ .ID }}">
            <article>
              <header>
                <a href="#close" aria-label="Close" rel="prev"></a>
                <strong>Delete upload</strong>
              </header>
              <p>Are you sure you want to delete the upload {{ .Filename | smartQuote }}?</p>
              <form action="{{ .Path }}" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <button name="delete" type="submit">Delete <i class="icon delete"></i></button>
              </form>
            </article>
          </dialog>
        </td>
      </tr>
      {{ end }}
      </tbody>
    </table>
  </div>
</div>
{{ end }}
