{{ define "title" }}Invites{{ end }}
{{ define "breadcrumbs" }}
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/invites">Invites</a></li>
  </ul>
{{ end }}
{{ define "actions" }}
<ul>
  <li>
    <a href="#add-invite" class="icon" data-tooltip="Add invite" data-placement="left">
      <i class="add">Add invite</i>
    </a>

    <dialog id="add-invite">
      <article>
        <header>
          <a href="#close" aria-label="Close" rel="prev"></a>
          <strong>Add invite</strong>
        </header>
        <form action="/invites" method="POST">
          <label for="key">Key:</label>
          <input type="text" name="key" id="key" required placeholder="Key">

          <label>
            <input type="checkbox" name="can-vote" value="true" checked>
            <span class="label-body">Can vote</span>
          </label>
          <input type="hidden" name="can-vote" value="false">

          <input type="submit" value="Add">
        </form>
      </article>
    </dialog>
  </li>
  <li>
    <a href="#generate-invites" class="icon" data-tooltip="Generate invites" data-placement="left">
      <i class="list">Generate invites</i>
    </a>

    <dialog id="generate-invites">
      <article>
        <header>
          <a href="#close" aria-label="Close" rel="prev"></a>
          <strong>Generate invites</strong>
        </header>
        <form action="/invites/generate" method="POST">
          <label for="amount">Amount:</label>
          <input type="number" id="amount" name="amount" min="1" max="1000" value="150">

          <label for="prefix">Prefix:</label>
          <input type="text" name="prefix" id="prefix" placeholder="Prefix">

          <label for="digits">Digits:</label>
          <input type="number" id="digits" name="digits" min="5" max="20" value="10">

          <fieldset>
            <legend>Character classes:</legend>
            <input type="checkbox" id="lowercase" name="classes[]" value="lowercase" checked>
            <label for="lowercase" class="label-body">a-z</label><br>
            <input type="checkbox" id="uppercase" name="classes[]" value="uppercase" checked>
            <label for="uppercase" class="label-body">A-Z</label><br>
            <input type="checkbox" id="digits-chars" name="classes[]" value="digits" checked>
            <label for="digits-chars" class="label-body">0-9</label><br>
          </fieldset>

          <label>
            <input type="checkbox" id="unambiguous" name="unambiguous" value="true" checked>
            <span class="label-body">Only use unambiguous characters</span>
          </label>

          <label for="suffix">Suffix:</label>
          <input type="text" name="suffix" id="suffix" placeholder="Suffix">

          <label>
            <input type="checkbox" name="can-vote" value="true" checked>
            <span class="label-body">Can vote</span>
          </label>
          <input type="hidden" name="can-vote" value="false">

          <input type="submit" value="Generate">
        </form>
      </article>
    </dialog>
  </li>
</ul>

{{ end }}
{{ define "content" }}
  {{ $baseURL := .Config.BaseURL }}
  {{ if gt (len .Invites) 0 }}
  <h2>Invites</h2>
  <div class="overflow-auto">
    <table>
      <tr>
        <th>Key</th>
        <th>QR</th>
        <th>Can vote</th>
        <th>User</th>
        <th class="action">Action</th>
      </tr>
      {{ range .Invites }}
      <tr>
        <td><code class="invite-key clipboard-copy">{{ .Key }}</code></td>
        <td><a href="{{ .RegisterURL $baseURL }}"><img alt="qr-code linking to registration page" class="qr-code" src="data:image/png;base64,{{ .QrCode $baseURL | base64 }}"></a></td>
        <td>{{ if .Permissions.CanVote }}<i class="icon checkmark">Yes</i>{{ end }}</td>
        <td>
          {{ with .User }}
            {{ .Email }}
          {{ end }}
        </td>
        <td class="action">
          <ul>

            <li>
              <a href="#delete-invite-{{ .ID }}" class="icon" data-tooltip="Delete invite" data-placement="left">
                <i class="delete">Delete invite</i>
              </a>

              <dialog id="delete-invite-{{ .ID }}">
                <article>
                  <header>
                    <a href="#close" aria-label="Close" rel="prev"></a>
                    <strong>Delete invite</strong>
                  </header>
                  <p>Are you sure you want to delete invite {{ .Key | smartQuote }}?</p>
                  <form action="{{ .Path }}" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <button name="delete" type="submit">Delete <i class="icon delete"></i></button>
                  </form>
                </article>
              </dialog>
            </li>

            <li>
              <a href="#edit-invite-{{ .ID }}" class="icon" data-tooltip="Edit invite" data-placement="left">
                <i class="edit">Edit invite</i>
              </a>

              <dialog id="edit-invite-{{ .ID }}">
                <article>
                  <header>
                    <a href="#close" aria-label="Close" rel="prev"></a>
                    <strong>Edit invite</strong>
                  </header>

                  <form action="{{ .Path }}" method="post">
                    <input type="hidden" name="_method" value="PATCH">

                    <label for="key-{{ .ID }}">Email:</label>
                    <input type="text" name="key" id="key-{{ .ID }}" required placeholder="Key" value="{{ .Key }}">

                    <label>
                      <input type="checkbox" id="can-vote" name="can-vote" value="true" {{ if .Permissions.CanVote }} checked{{ end }}>
                      <input type="hidden" name="can-vote" value="false">
                      <span class="label-body">Can vote</span>
                    </label>

                    <input type="submit" value="Update">
                  </form>

                </article>
              </dialog>
            </li>

          </ul>
        </td>
      </tr>
      {{ end }}
    </table>
  </div>
  {{ end }}
{{ end }}
