{{ define "title" }}Show of {{ .Show.Name }}{{ end }}
{{ define "breadcrumbs" }}
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/playlists">Playlists</a></li>
    <li><a href="{{ .Show.Playlist.Path }}">{{ .Show.Name }}</a></li>
    <li><a href="{{ .Show.Path }}">Show</a></li>
  </ul>
{{ end }}

{{ define "actions" }}
<ul>
  <li>
    <a href="#close-voting" class="icon" data-tooltip="Close live-voting" data-placement="left">
      <i class="close">Close {{ .Show.Name | smartQuote }} for live-voting</i>
    </a>

    <dialog id="close-voting">
      <article>
        <header>
          <a href="#close" aria-label="Close" rel="prev"></a>
          <strong>Close for live-voting</strong>
        </header>
        <p>
          <strong>Close {{ .Show.Name | smartQuote }} for live-voting.</strong>
          This will prevent users from live-voting on entries within the
          playlist, but will still allow them to vote regularly (non-live).
        </p>
        <form action="{{ .Show.Playlist.Path }}" method="post">
          <input type="hidden" name="_method" value="PATCH">
          <input type="hidden" name="action" value="close">
          <button type="submit" title="Close {{ .Show.Name }} for live-voting">Close <i class="icon lock"></i></button>
        </form>
      </article>
    </dialog>
  </li>
</ul>
{{ end }}

{{ define "content" }}
  <h2>Show of {{ .Show.Name | smartQuote }}</h2>

  {{ $index := (sub .Show.SlideNumber 1) }}
  {{ $next := (add .Show.SlideNumber 1) }}
  {{ $last := eq .Show.SlideNumber (len .Show.Entries) }}
  {{ if $last }}
    {{ $next = 1 }}
    <p>
      This is the last entry in {{ .Show.Name | smartQuote }}, concluding its show.
      You should now probably <a href="#close-voting">Close live-voting</a>.
    </p>
  {{ else }}
    <p>Showing entry number {{ $index }} in {{ .Show.Name | smartQuote }}.</p>
  {{ end }}

  {{ with (index .Show.Entries $index) }}
    <article>
      <header>
        <nav>
          <ul>
            <li><strong>{{ .Entry.Title }}</strong> by {{ .Entry.Author }}</li>
          </ul>

          <ul>
            <li>
              <form method="post" action="{{ .Playlist.Path }}/show/{{ $next }}" rel="next">
                <input type="hidden" name="action" value="show">
                <button class="icon" name="next" type="submit" data-placement="top"
                  {{ if $last }}
                    disabled="disabled"
                    data-tooltip="This is the last entry in the playlist"
                  {{ else }}
                    data-tooltip="Advance to the next entry"
                  {{ end }}>
                  <i>Next entry</i>
                </button>
              </form>
            </li>
          </ul>
        </nav>
      </header>

      <div class="entry-frame">
        <iframe src="{{ .Path }}"></iframe>
      </div>
    </article>
  {{ end }}
{{ end }}
