{{ define "title" }}{{ .Playlist.Name }}{{ end }}
{{ define "breadcrumbs" }}
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/playlists">Playlists</a></li>
    <li><a href="{{ .Playlist.Path }}">{{ .Playlist.Name }}</a></li>
  </ul>
{{ end }}
{{ define "actions" }}
  {{ $r := . }}
  <ul>
    <li>
      <a href="#edit" class="icon" data-tooltip="Edit {{ .Playlist.Name }} | smartQuote" data-placement="left">
        <i class="edit">Edit {{ .Playlist.Name | smartQuote }}</i>
      </a>

      <dialog id="edit">
        <article>
          <header>
            <a href="#close" aria-label="Close" rel="prev"></a>
            <strong>Edit Playlist</strong>
          </header>

          <form action="{{ .Playlist.Path }}{{ if .SelectedCompo }}?compo={{ .SelectedCompo.ID }}{{ end }}" method="post">
            <input type="hidden" name="_method" value="PUT">

            <label for="name">Name:</label>
            <input type="text" name="name" id="name" required placeholder="Name" value="{{ .Playlist.Name }}">
            <input type="submit" value="Update">
          </form>
        </article>
      </dialog>
    </li>
    <li>
      <a href="#download-archive" class="icon" data-tooltip="Download archive" data-placement="left">
        <i class="download">Download archive</i>
      </a>

      <dialog id="download-archive">
        <article>
          <header>
            <a href="#close" aria-label="Close" rel="prev"></a>
            <strong>Download archive</strong>
          </header>
          <p>Download a ZIP archive of {{ .Playlist.Name | smartQuote }}.</p>
          <form method="get" action="{{ .Playlist.ArchivePath }}">
            <fieldset>
              <label title="Include the order of each entry in the name of each entry">
                <input type="checkbox" role="switch" name="ordered" id="ordered" value="true" checked="checked">
                <span class="label-body">Ordered</span>
              </label>
            </fieldset>
            <button title="Download a ZIP archive of {{ .Playlist.Name }}"
                    type="submit">Download <i class="icon download"></i></button>
          </form>
        </article>
      </dialog>
    </li>
    <li>
      {{ if .Playlist.VotingClosedAt.Valid }}
        {{ template "openRegularVotingForm" .Playlist }}
      {{ else if .Playlist.LiveVotingClosedAt.Valid }}
        {{ template "openLiveVotingForm" .Playlist }}
      {{ else }}
        <form action="{{ .Playlist.Path }}/preview"
            method="get"
            data-placement="left"
          {{ if eq (len .Playlist.Entries) 0 }}
            data-tooltip="Cannot preview because {{ .Playlist.Name | smartQuote }} contains no entries"
          {{ else }}
              data-tooltip="Preview {{ .Playlist.Name | smartQuote }}"
          {{ end }}>
          <button {{ if eq (len .Playlist.Entries) 0 }}disabled="disabled"{{ end }}
            class="icon">
            <i class="preview">Preview {{ .Playlist.Name | smartQuote }}</i>
          </button>
        </form>
      {{ end }}
    </li>
    <li>
      <a href="{{ .Playlist.Path }}/results" class="icon" data-tooltip="Prizegiving for {{ .Playlist.Name }}" data-placement="left">
        <i class="trophy">Prizegiving</i>
      </a>
    </li>
    <li class="separate">
      <a href="#add-entry" class="icon" data-tooltip="Add entry" data-placement="left">
        <i class="add">Add entry</i>
      </a>

      <dialog id="add-entry">
        <article>
          <header>
            <a href="#close" aria-label="Close" rel="prev"></a>
            <strong>Add entry</strong>
          </header>

          <p>Add entries to the {{ .Playlist.Name | smartQuote }} playlist.</p>

          {{ if and .Compos (and (not .Playlist.VotingClosedAt.Valid) (not .Playlist.LiveVotingClosedAt.Valid)) }}
            <h3>Compos</h3>
            <ul>
            {{ range .Compos }}
            <li><a href="{{ $r.Playlist.Path }}?compo={{ .ID }}#add-entry">{{ .Name }}</a></li>
            {{ end }}
            </ul>
          {{ end }}

          {{ if .SelectedCompo }}
            {{ $multiPlatform := .SelectedCompo.MultiPlatform }}
            <h4>Entries in the {{ .SelectedCompo.Name | smartQuote }} compo</h4>
            <div class="overflow-auto {{ if eq (len .SelectedCompo.Entries) 0 }} empty{{ end }}">
              <table class="entries">
                <thead>
                  <tr>
                    <th class="title">Title</th>
                    <th class="author">Author</th>
                    {{ if $multiPlatform }}<th>Platform</th>{{ end }}
                    <th class="action">Action</th>
                  </tr>
                </thead>
                <tbody>
                {{ range .SelectedCompo.Entries }}
                <tr>
                  <td class="user-input"><a href="{{ .Path }}">{{ .Title }}</a></td>
                  <td class="user-input">{{ .Author }}</td>
                  {{ if $multiPlatform }}<td class="user-input">{{ .Platform }}</td>{{ end }}
                  <td class="action">
                    {{ $playlistEntry := $r.Playlist.GetEntry .ID }}
                    {{ if or (not $playlistEntry) (not (eq $playlistEntry.PlaylistID $r.Playlist.ID)) }}
                    <form action="{{ $r.Playlist.Path }}/entries/{{ if $r.SelectedCompo }}?compo={{ $r.SelectedCompo.ID }}{{ end }}" method="post">
                      <input type="hidden" name="entry" value="{{ .ID }}">
                      <input type="hidden" name="order" value="{{ len $r.Playlist.Entries }}">
                      <button name="add" type="submit" class="icon" data-tooltip="Add {{ .Title | smartQuote }} to the playlist" data-placement="left">
                        <i class="add">Add entry</i>
                      </button>
                    </form>
                    {{ end }}
                  </td>
                </tr>
                {{ end }}
                </tbody>
              </table>
            </div>
          {{ end }}

        </article>
      </dialog>    </li>
  </ul>
{{ end }}

{{ define "openRegularVotingForm" }}
  <form action="{{ .Path }}" method="post">
    <input type="hidden" name="_method" value="PATCH">
    <input type="hidden" name="action" value="open">
    <button data-tooltip="Reopen {{ .Name }} for regular voting. (Closed for regular voting {{ humanize "time" .VotingClosedAt.Time }})"
            data-placement="left"
            class="icon"
            type="submit"
            class="button show"><i class="open">Reopen {{ .Name }} for regular voting</i></button>
  </form>
{{ end }}

{{ define "openLiveVotingForm" }}
  <form action="{{ .Path }}" method="post">
    <input type="hidden" name="_method" value="PATCH">
    <input type="hidden" name="action" value="open">
    <button data-tooltip="Reopen {{ .Name }} for live-voting. (Closed for live-voting {{ humanize "time" .LiveVotingClosedAt.Time }})"
            data-placement="left"
            class="icon"
            type="submit"
            class="button show"><i class="open">Reopen {{ .Name }} for live-voting</i></button>
  </form>

  <form action="{{ .Path }}" method="post">
    <input type="hidden" name="_method" value="PATCH">
    <input type="hidden" name="action" value="close">
    <button data-tooltip="Close {{ .Name }} for regular voting. (Closed for live-voting {{ humanize "time" .LiveVotingClosedAt.Time }})"
            data-placement="left"
            class="icon"
            type="submit"
            class="button show"><i class="close">Close {{ .Name }} for regular voting</i></button>
  </form>
{{ end }}

{{ define "results" }}
  <h2>Votes of {{ .Playlist.Name | smartQuote }}</h2>

  <div class="overflow-auto">
    <table>
      <thead>
        <th>#</th>
        <th>Title</th>
        <th>Author</th>
        <th>Score</th>
      </thead>
      <tbody>
      {{ range $placement := .Results }}
      {{ range $i, $entry := $placement.Entries }}
        <tr>
            {{ if eq $i 0 }}
            <th rowspan="{{ len $placement.Entries }}">{{ $placement.Placement }}</th>
            {{ end }}
            <td class="user-input">{{ $entry.Title }}</td>
            <td class="user-input">{{ $entry.Author }}</td>
            <td>{{ $placement.Score }}</td>
        </tr>
      {{ end }}
      {{ end }}
      <tbody>
    </table>
  </div>
{{ end }}

{{ define "content" }}
  {{ $r := . }}
  <h2>{{ .Playlist.Name }}</h2>

  <div id="content" {{ if eq (len .Playlist.Entries) 0 }}class="empty"{{ end }}>
    <h3>Added entries</h3>
    <div class="overflow-auto">
      <table class="entries">
        <thead>
          <tr>
            <th class="order" title="Order">#</th>
            <th class="title">title</th>
            <th class="author">Author</th>
            <th class="platform">Platform</th>
            <th class="uploads">Uploads</th>
            <th class="action">Action</th>
          </tr>
        </thead>
        <tbody>
        {{ range $i, $e := .Playlist.Entries }}
          {{ $first := eq $i 0 }}
          {{ $last := eq (add $i 1) (len $r.Playlist.Entries) }}
          {{ $votingClosed := or $e.Playlist.VotingClosedAt.Valid $e.Playlist.LiveVotingClosedAt.Valid }}
          {{ $path := $e.Path }}
          {{ if $r.SelectedCompo }}
            {{ $path = print $path "?compo=" $r.SelectedCompo.ID }}
          {{ end }}
          <tr class="deletable">
            <td>{{ $e.Order }}</td>
            <td class="user-input"><a href="{{ $e.Entry.Path }}">{{ $e.Entry.Title }}</a></td>
            <td class="user-input">{{ .Entry.Author }}</td>
            <td class="user-input">{{ .Entry.Platform }}</td>
            <td class="uploads">{{ len $e.Entry.Uploads }}</td>
            <td class="action">
              <ul>
                <li>
                  <form action="{{ $path }}" method="post">
                    <input type="hidden" name="_method" value="PATCH">
                    <input type="hidden" name="direction" value="up">
                    <button {{ if or $first $votingClosed }}disabled="disabled"{{ end }}
                            data-tooltip="Move entry up"
                            data-placement="left"
                            type="submit"
                            class="icon"
                            name="up">
                      <i class="up">Move entry up</i>
                    </button>
                  </form>
                </li>
                <li>
                  <form action="{{ $path }}" method="post">
                    <input type="hidden" name="_method" value="PATCH">
                    <input type="hidden" name="direction" value="down">
                    <button {{ if or $last $votingClosed }}disabled="disabled"{{ end }}
                            data-tooltip="Move entry down"
                            data-placement="left"
                            class="icon"
                            name="down"
                            type="submit">
                      <i class="down">Move entry down</i>
                    </button>
                  </form>
                </li>
                <li>
                  <a href="#remove-entry-{{ $e.EntryID }}" class="icon" data-tooltip="Delete entry" data-placement="left">
                    <i class="delete">Delete entry</i>
                  </a>

                  <dialog id="remove-entry-{{ $e.EntryID }}">
                    <article>
                      <header>
                        <a href="#close" aria-label="Close" rel="prev"></a>
                        <strong>Remove entry from playlist</strong>
                      </header>
                      <p>Are you sure you want to remove {{ $e.Entry.Title | smartQuote }} from {{ $r.Playlist.Name }}?</p>
                      <form action="{{ $path }}" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <button name="delete" type="submit">Delete</button>
                      </form>
                    </article>
                  </dialog>
                </li>
              </ul>
            </td>
          </tr>
        {{ end }}
        </tbody>
      </table>
    </div>
  </div>

  {{ template "results" .Results }}
{{ end }}
