{{ define "title" }}Playlists{{ end }}
{{ define "breadcrumbs" }}
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/playlists">Playlists</a></li>
  </ul>
{{ end }}
{{ define "actions" }}
<ul>
  <li>
    <a href="#close-voting" class="icon" data-tooltip="Close voting" data-placement="left">
      <i class="close">Close voting</i>
    </a>

    <dialog id="close-voting">
      <article>
        <header>
          <a href="#close" aria-label="Close" rel="prev"></a>
          <strong>Close all voting</strong>
        </header>
        <p>Close voting for all playlists.</p>
        <form action="/playlists" method="post">
          <input type="hidden" name="_method" value="PATCH">
          <input type="hidden" name="action" value="close">
          <button type="submit">Close all voting <i class="icon lock"></i></button>
        </form>
      </article>
    </dialog>
  </li>
  <li>
    <a href="#add-playlist" class="icon" data-tooltip="Add playlist" data-placement="left">
      <i class="add">Add playlist</i>
    </a>

    <dialog id="add-playlist">
      <article>
        <header>
          <a href="#close" aria-label="Close" rel="prev"></a>
          <strong>Add playlist</strong>
        </header>
        <form action="/playlists" method="POST">
          <label for="name">Name:</label>
          <input type="text" name="name" id="name" required placeholder="Name">
          <input type="submit" value="Add">
        </form>
      </article>
    </dialog>
  </li>
</ul>
{{ end }}
{{ define "content" }}
<div id="content" {{ if eq (len .Playlists) 0 }}class="empty"{{ end }}>
  <h2>Playlists</h2>

  <div class="overflow-auto">
    <table>
      <thead>
        <tr>
          <th class="name">Name</th>
          <th class="entries">Entries</th>
          <th class="action">Action</th>
        </tr>
      </thead>
      <tbody>
      {{ range .Playlists }}
      <tr class="deletable">
        <td><a href="{{ .Path }}">{{ .Name }}</a></td>
        <td class="entries">{{ len .Entries }}</td>
        <td class="action">
          <a href="#delete-playlist-{{ .ID }}" class="icon" data-tooltip="Delete {{ .Name | smartQuote }}" data-placement="left">
            <i class="delete">Delete playlist</i>
          </a>

          <dialog id="delete-playlist-{{ .ID }}">
            <article>
              <header>
                <a href="#close" aria-label="Close" rel="prev"></a>
                <strong>Delete playlist</strong>
              </header>
              <p>Are you sure you want to delete the playlist {{ .Name | smartQuote }}?</p>
              <form action="{{ .Path }}" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <button name="delete" type="submit">
                  Delete <i class="icon delete"></i>
                </button>
              </form>
            </article>
          </dialog>
        </td>
      </tr>
      {{ end }}
      </tbody>
    </table>
  </div>
</div>

{{ end }}
