{{ define "title" }}Users{{ end }}
{{ define "breadcrumbs" }}
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/users">Users</a></li>
  </ul>
{{ end }}
{{ define "actions" }}
<a href="#add-user" class="icon" data-tooltip="Add user" data-placement="left">
  <i class="add">Add user</i>
</a>

<dialog id="add-user">
  <article>
    <header>
      <a href="#close" aria-label="Close" rel="prev"></a>
      <strong>Add user</strong>
    </header>
    <form action="/users" method="POST">
      <label for="name">Email:</label>
      <input type="email" name="email" id="email" required placeholder="Email">

      <label for="handle">Handle:</label>
      <input type="text" name="handle" id="handle" required placeholder="Handle">

      <label>
        <input type="checkbox" id="can-vote" name="can-vote" value="true" checked>
        <span class="label-body">Can vote</span>
      </label>
      <input type="hidden" name="can-vote" value="false">

      <input type="submit" value="Add">
    </form>
  </article>
</dialog>
{{ end }}
{{ define "content" }}
<div id="content" {{ if eq (len .Users) 0 }}class="empty"{{ end }}>
  <h2>Users</h2>
  <div class="overflow-auto">
    <table>
      <thead>
        <tr>
          <th>Email</th>
          <th>Handle</th>
          <th>Can vote</th>
          <th class="entries">Entries</th>
          <th class="action">Action</th>
        </tr>
      </thead>
      <tbody>
        {{ range .Users }}
        <tr class="deletable">
          <td class="user-input"><a href="{{ .Path }}">{{ .Email }}</a></td>
          <td class="user-input">{{ .Handle }}</td>
          <td>{{ if .Permissions.CanVote }}<i class="icon checkmark">Yes</i>{{ end }}</td>
          <td class="entries">{{ len .Entries }}</td>
          <td class="action">
            <a href="#delete-user-{{ .ID }}" class="icon" data-tooltip="Delete user" data-placement="left">
              <i class="delete">Delete user</i>
            </a>

            <dialog id="delete-user-{{ .ID }}">
              <article>
                <header>
                  <a href="#close" aria-label="Close" rel="prev"></a>
                  <strong>Delete user</strong>
                </header>
                <p>Are you sure you want to delete {{ .Handle | smartQuote }}?</p>
                <form action="{{ .Path }}" method="post">
                  <input type="hidden" name="_method" value="DELETE">
                  <button name="delete" type="submit">Delete <i class="icon delete"></i></button>
                </form>
              </article>
            </dialog>
          </td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
</div>

{{ end }}
