{{ define "title" }}{{ .User.Handle }}{{ end }}
{{ define "breadcrumbs" }}
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/users">Users</a></li>
    <li><a href="{{ .User.Path }}">{{ .User.Handle }}</a></li>
  </ul>
{{ end }}
{{ define "actions" }}
<ul>
  <li>
    <a href="#edit-user" class="icon" data-tooltip="Edit {{ .User.Handle | smartQuote }}" data-placement="left">
      <i class="edit">Edit {{ .User.Handle | smartQuote }}</i>
    </a>

    <dialog id="edit-user">
      <article>
        <header>
          <a href="#close" aria-label="Close" rel="prev"></a>
          <strong>Edit user</strong>
        </header>
        <form action="{{ .User.Path }}" method="post">
          <input type="hidden" name="_method" value="PATCH">

          <label for="email">Email:</label>
          <input type="email" name="email" id="email" required placeholder="Email" value="{{ .User.Email }}">

          <label for="handle">Handle:</label>
          <input type="text" name="handle" id="handle" required placeholder="Handle" value="{{ .User.Handle }}">

          <label>
            <input type="checkbox" id="can-vote" name="can-vote" value="true" {{ if .User.Permissions.CanVote }} checked{{ end }}>
            <span class="label-body">Can vote</span>
          </label>
          <input type="hidden" name="can-vote" value="false">

          <label for="password">Password:</label>
          <fieldset role="group" class="password">
            <input type="password" name="password" id="password" placeholder="Password">
          </fieldset>

          <input type="submit" value="Update">
        </form>
      </article>
    </dialog>

  </li>
</ul>
{{ end }}
{{ define "content" }}

<h2>{{ .User.Handle }}</h2>

<div id="content" {{ if eq (len .User.Entries) 0 }}class="empty"{{ end }}>
  <h3>Entries</h3>
  <div class="overflow-auto">
    <table class="entries">
      <thead>
        <tr>
          <th class="title">Title</th>
          <th class="author">Author</th>
          <th class="platform">Platform</th>
          <th class="compo">Compo</th>
          <th class="uploads">Uploads</th>
          <th class="action">Action</th>
        </tr>
      </thead>
      <tbody>
      {{ range .User.Entries }}
      <tr class="deletable">
        <td class="user-input"><a href="{{ .Path }}">{{ .Title }}</a></td>
        <td class="user-input">{{ .Author }}</td>
        <td class="user-input">{{ .Platform }}</td>
        <td><a href="{{ .Compo.Path }}">{{ .Compo.Name }}</a></td>
        <td class="uploads">{{ len .Uploads }}</td>
        <td class="action">
          <a href="#delete-entry-{{ .ID }}" class="icon" data-tooltip="Delete {{ .Title | smartQuote }}" data-placement="left">
            <i class="delete">Delete {{ .Title | smartQuote }}</i>
          </a>

          <dialog id="delete-entry-{{ .ID }}">
            <article>
              <header>
                <a href="#close" aria-label="Close" rel="prev"></a>
                <strong>Delete entry</strong>
              </header>
              <p>Are you sure you want to delete {{ .Title | smartQuote }}?</p>
              <form action="{{ .Path }}" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <button name="delete" type="submit">Delete <i class="icon delete"></i></button>
              </form>
            </article>
          </dialog>
        </td>
      </tr>
      {{ end }}
      </tbody>
    </table>
  </div>
</div>

{{ end }}
