:root {
  --card-badge-background-color: rgba(0, 0, 0, .05);
  --card-badge-color: rgba(0, 0, 0, 0.4);
}

@media (prefers-color-scheme: dark) {
  :root {
    --card-badge-background-color: rgba(255, 255, 255, .050);
    --card-badge-color: rgba(255, 255, 255, 0.8);
  }
}

.cards {
  display: grid;
  grid-gap: 32px;
  position: relative;
  z-index: 1;
  padding: 0;
}

@media (min-width: 1024px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

.cards > li {
  list-style-type: none;
  flex: 1;
}

.cards > li > a,
.cards > li > a > article {
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
  text-decoration: none;
  margin: 0;
}

.cards > li header {
  display: flex;
  gap: var(--pico-block-spacing-horizontal);
}

.cards > li header::before {
  display: block;
  content: '';
  width: 1.5em;
  height: 1.5em;
  background: var(--pico-h1-color);
  mask-image: url('/icons/shapes-outline.svg');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 1.5em;
}

.cards header > strong {
  flex: 1;
}

.cards header > .badge {
  flex: 0;
  min-width: 3em;
  height: 1.5em;
  border-radius: calc(var(--pico-border-radius) * 2);
  border: 0.05em solid #999;
  padding: calc(var(--pico-block-spacing-vertical) / 2) calc(var(--pico-block-spacing-horizontal) / 2);
  background-color: var(--card-badge-background-color);
  color: var(--card-badge-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
}

.cards > li.graphics header::before {
  mask-image: url('/icons/image-outline.svg');
}

.cards > li.realtime header::before {
  mask-image: url('/icons/cube-outline.svg');
}

.cards > li.music header::before {
  mask-image: url('/icons/musical-notes-outline.svg');
}

.cards > li.users header::before {
  mask-image: url('/icons/people-outline.svg');
}

.cards > li.entries header::before {
  mask-image: url('/icons/documents-outline.svg');
}

.cards > li.votes header::before {
  mask-image: url('/icons/dice-outline.svg');
}

.cards > li.score header::before {
  mask-image: url('/icons/fitness-outline.svg');
}
