textarea {
  width: 100%;
}

fieldset:has(input[aria-invalid="true"]) + small {
  color: var(--pico-del-color);
}

fieldset.password .toggle {
  display: relative;
}

fieldset.password .toggle::before {
  display: block;
  content: '';
  position: absolute;
  inset: 0;
  background: var(--pico-color);
  mask-image: url('/icons/eye-off-outline.svg');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 1.5em;
}

fieldset.password:has(input[type='password']) .toggle::before {
  mask-image: url('/icons/eye-outline.svg');
}
