.icon {
  display: flex;
  opacity: 1;
  width: var(--icon-size);
  height: var(--icon-size);
  font-size: 0;
  color: transparent;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  outline: none;
  pointer-events: auto;
}

i.icon,
.icon i {
  width: var(--icon-size);
  height: var(--icon-size);
  border: none;
  background-color: currentColor;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  transition: color var(--pico-transition);
  color: var(--pico-secondary);
}

button > i.icon {
  position: relative;
  display: inline-block;
  top: .3rem;
  margin-left: var(--pico-block-spacing-horizontal);
  color: var(--pico-color);
}

i.icon:hover,
.icon i:hover,
button:hover > .icon,
button:hover > i {
  color: var(--pico-secondary-hover);
}

[rel='next'].icon i,
[rel='next'] .icon i {
  mask-image: url('/icons/arrow-forward-outline.svg');
}

[rel='prev'].icon i,
[rel='prev'] .icon i {
  mask-image: url('/icons/arrow-back-outline.svg');
}

[rel='first'].icon i,
[rel='last'].icon i,
[rel='first'] .icon i,
[rel='last'] .icon i {
  mask-image: url('/icons/refresh-outline.svg');
}

[rel='first'].icon i,
[rel='first'] .icon i {
  transform: scaleX(-1);
}

.icon .add {
  mask-image: url('/icons/add-outline.svg');
}

.icon .list {
  mask-image: url('/icons/list-outline.svg');
}

.icon.checkmark {
  mask-image: url('/icons/checkmark-outline.svg');
}

.icon.lock,
.icon .lock,
.icon.close,
.icon .close {
  mask-image: url('/icons/lock-closed-outline.svg');
}

.icon.open,
.icon .open,
.icon.unlock,
.icon .unlock {
  mask-image: url('/icons/lock-open-outline.svg');
}

.icon.download,
.icon .download {
  mask-image: url('/icons/download-outline.svg');
}

.icon.delete,
.icon .delete {
  mask-image: url('/icons/trash-outline.svg');
}

.icon.up,
.icon .up {
  mask-image: url('/icons/arrow-up-outline.svg');
}

.icon.down,
.icon .down {
  mask-image: url('/icons/arrow-down-outline.svg');
}

.icon.edit,
.icon .edit {
  mask-image: url('/icons/create-outline.svg');
}

.icon.show,
.icon .show,
.icon.preview,
.icon .preview {
  mask-image: url('/icons/tv-outline.svg');
}

.icon .trophy {
  mask-image: url('/icons/trophy-outline.svg');
}

.icon.user,
.icon .user {
  mask-image: url('/icons/person-outline.svg');
}

.icon.logout,
.icon .logout {
  mask-image: url('/icons/log-out-outline.svg');
}

.icon.document,
.icon .document {
  mask-image: url('/icons/document-outline.svg');
}
