@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

@page {
  size: auto;
  margin: 0;
}

.admin.invites {
  header, h1, h2, nav, th, td:nth-child(3), form, footer, .actions {
    display: none;
  }

  td:nth-child(1)::before {
    content: 'invitation-code: ';
  }

  code, td {
    border: none;
  }

  code {
    font-family: "Fira Mono", monospace;
  }
}
