:root:has(body.slides) {
  --pico-font-size: 100%;
}

.entry-frame {
  position: relative;
  display: block;
  user-select: none;
  margin-bottom: var(--pico-block-spacing-vertical);
  overflow: hidden;
}

.entry-frame iframe {
  border: none;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.slides {
  height: 100vh;
  overflow: hidden;
  user-select: none;
}

.slides main {
  --scale: 1.0;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  transform-origin: top left;
  transform: scale(var(--scale));
  padding: 5rem;
  font-size: 2rem;
}

.slides.entry {

  .columns {
    display: flex;
    gap: 3rem;
  }

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 4rem;
    font-weight: normal;
    margin-bottom: 5rem;
  }

  .compo {
    text-align: right;
  }

  .notes {
    margin-top: 5rem;

    p.pre-formatted {
      white-space: pre;
    }
  }
}
