table {
  width: 100%;
}

thead .name {
  width: 100%;
}

thead .title,
thead .author {
  width: 50%;
}

table.stats {
  width: 50%;
}

table.stats th {
  width: 50%;
}

table.stats th:after {
  content: ':';
}

td.user-input {
  word-break: break-word;
}

td.action {
  white-space: nowrap;
}

table td > form {
  display: flex;
  width: var(--icon-size);
  margin: 0 auto;
}

th.size,
td.size,
th.uploads,
td.uploads,
th.entries,
td.entries {
  text-align: right;
}

th.action,
td.action {
  text-align: center;
}

td.action > * {
  margin: 0 auto;
}

td.action dialog {
  text-align: left;
}

td.action ul {
  margin: 0;
  padding: 0;
  display: flex;
  place-content: center;
}

td.action ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

th[scope='row'] {
  text-align: right;
}
