#voting {
  .voting-container {
    input[type=radio] {
      display: none;
    }

    .entries {
      position: relative;
      width: 100%;
      height: 100%;
      min-height: 40vh;
      margin-bottom: 20px;
    }

    .entry {
      margin: calc(var(--pico-block-spacing-vertical) * 2) auto;

      display: flex;
      flex-direction: column;
      gap: var(--pico-block-spacing-vertical);
      .entry-frame {
        width: 100%;
        iframe {
          width: 100%;
        }
      }
    }
  }

  .vote {
    background-color: var(--background-color-softer);
    box-sizing: border-box;

    .vote-text.hidden {
      display: none;
    }

    .vote-text .score {
      font-weight: bold;
      color: var(--primary-color);
    }

    .place-vote {
      list-style-type: none;
      margin: 0;
      padding: 0;
      direction: rtl;
      text-align: left;
    }

    .star {
      display: inline-block;
      border: none;
      position: relative;
      line-height: 2rem;
      height: 2rem;
      transition: color 0.1s ease;
      color: var(--pico-primary);
      z-index: 1;
    }

    .star::before {
      content: '';
      display: block;
      width: 2rem;
      height: 2rem;

      background: currentColor;
      mask-image: url('/icons/star-outline.svg');
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: 2rem;
    }

    .star.selected,
    .star.selected ~ .star {
      &::before {
        mask-image: url('/icons/star.svg');
      }
    }

    .star:hover,
    .star:hover ~ .star {
      transition: color 0.2s ease;
      color: var(--pico-primary-hover);
    }

    .star button {
      border: none;
      width: 2rem;
      height: 2rem;
      margin: 0;
      line-height: 1;
      padding: 0;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      color: transparent;
      background: transparent;
    }
  }

  nav > ul {
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  #voting .voting-container .entry {
    flex-direction: row;
    .entry-frame {
      width: 50%;
    }
  }
}
