{{ define "html-extra" -}}
data-theme="dark"
{{- end }}

{{ define "body" }}
<body class="{{ join (split templateName "/") " " }}">
  <main>
    {{ block "content" . }}
    {{ end }}
  </main>
  <script>
    main = document.querySelector('main')
    const update = () => main.style.setProperty('--scale', window.innerWidth / 1920);
    window.onresize = update;
    update();
  </script>
</body>
{{ end }}
