{{ define "content" }}
<p class="compo">
  {{ if .Playlist }}
    {{ .Playlist.Name }}
  {{else}}
    {{ .Entry.Compo.Name }}
  {{ end }}
</p>

<div class="columns">
  <h1>#{{ .EntryNumber }}</h1>
  <div>
    <h1>{{ .Entry.Title }}</h1>
    <h2>By {{ .Entry.Author }}</h2>
    {{ if and .Entry.Compo.MultiPlatform .Entry.Platform }}
    <p>Platform: {{ .Entry.Platform }}</p>
    {{ end }}
    <div class="notes">
      {{ if .Config.UseEntryMarkdown }}
      {{ .Entry.NotesHtml }}
      {{ else }}
      <p class="pre-formatted">{{ .Entry.Notes }}</p>
      {{ end }}
    </div>
  </div>
</div>

{{ end }}
