{{ define "head" }}
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css" />
<style>

h1, .results {
  font-size: 2rem;
}

h1 {
  margin-top: 0;
}

.results {
  --bars-duration: 5s;
  --fade-duration: 1s;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.result {
  --bar-duration: calc(var(--score-factor) * var(--bars-duration));
  --reveal-delay: calc(var(--reveal-factor) * var(--bars-duration));
  --fg-color: var(--pico-h1-color);
  --bg-color: var(--pico-color-grey-500);
  --final-bg-color: var(--pico-card-background-color);
  --final-fg-color: var(--pico-color-grey-800);
  margin-bottom: var(--pico-spacing);
  position: relative;
  width: 100%;
  display: flex;
  color: var(--fg-color);
  padding: 0.25rem;
}

.result::before {
  content: '';
  display: block;
  position: absolute;
  inset: 0;
  z-index: -1;

  width: 0;
  background-color: var(--bg-color);
  border-radius: var(--pico-border-radius);
}

.result .placement,
.result .score {
  flex-grow: 0;
  flex-shrink: 0;
}

.placement {
  display: block;
  width: 2ch;
  text-align: center;
}

.result .score {
  text-align: right;
}

.result .description {
  flex: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.title,
.score {
  font-weight: bold;
}

.results.bars .result::before {
  width: calc(var(--score-factor) * 100%);
  background-color: var(--final-bg-color);
}

.results.bars-transition .result::before {
  transition:
    width var(--bar-duration) linear,
    background-color var(--fade-duration) linear var(--reveal-delay);
}

.results.bars-transition .result {
  transition:
    color var(--fade-duration) linear var(--reveal-delay);
}

.results.bars .result {
  color: var(--final-fg-color);
}

[data-placement="1"] {
  --final-bg-color: var(--pico-color-amber-200);
  --final-fg-color: black;
}

[data-placement="2"] {
  --final-bg-color: var(--pico-color-slate-600);
  --final-fg-color: var(--pico-h1-color);
}

[data-placement="3"] {
  --final-bg-color: var(--pico-color-pumpkin-800);
  --final-fg-color: var(--pico-h1-color);
}

.results.focus [data-placement="1"],
.results.focus [data-placement="2"],
.results.focus [data-placement="3"] {
  transition: transform 0.25s linear;
}

.results.first [data-placement="1"],
.results.second [data-placement="2"],
.results.third [data-placement="3"] {
  transform: scale(1.05);
}

.result > .placement,
.result > .score {
  display: inline-block;
  opacity: 0;
  margin: 0 0.5rem;
}

.results.bars .result > .placement,
.results.bars .result > .score  {
  opacity: 1;
}

.results.bars .result > .placement {
  transition: opacity var(--fade-duration) linear var(--reveal-delay);
}

.results.bars .result > .score {
  transition: opacity var(--fade-duration) linear var(--bars-duration);
}

</style>
{{ end }}

{{ define "content" }}
  <h1>Results: {{ .Results.Playlist.Name }}</h1>
  <ul class="results">
  {{- range $placement := .Results.Results -}}
  {{- if ge $placement.Placement 8 -}}
  {{- break -}}
  {{- end -}}
  {{- range $placement.Entries -}}
    <li class="result" data-placement="{{ $placement.Placement }}" data-score="{{ $placement.Score }}">
      <span class="placement">{{ $placement.Placement }}</span>
      <span class="description"><span class="title">{{ .Title }}</span> by <span class="author">{{ .Author }}</span></span>
      <span class="score">{{ $placement.Score }}</span>
    </li>
  {{- end -}}
  {{- end -}}
  </ul>

  <script>

const validStates = ["#start", "#bars", "#bars-done", "#third", "#second", "#first"];
let currentState = window.location.hash;
if (!validStates.includes(currentState))
  currentState = validStates[0];

const result = document.querySelector(".results");
const results = document.querySelectorAll(".result");
const sortedResults = [...results].sort((a, b) => b.dataset.score - a.dataset.score)
const maxScore = sortedResults.length > 1 ? sortedResults[0].dataset.score : undefined;
// after the second highest score has been revealed, we can reveal the top score as well, because
// at that point there's no unknowns any more. This also works in the case where the top scores
// all the same.
const revealFactor = sortedResults.length > 1 ? sortedResults[1].dataset.score / maxScore : 0;
results.forEach((r) => {
  const scoreFactor = r.dataset.score / maxScore
  r.style.setProperty("--score-factor", scoreFactor);
  r.style.setProperty("--reveal-factor", Math.min(scoreFactor, revealFactor));
})

const shuffle = () => {
  for (var i = result.children.length; i >= 0; i--) {
    result.appendChild(result.children[Math.random() * i | 0]);
  }
}

window.onhashchange = (e) => {
  const newState = new URL(e.newURL).hash;

  result.classList.remove('bars-transition');
  result.classList.remove('first');
  result.classList.remove('second');
  result.classList.remove('third');
  result.classList.remove('focus');

  switch (newState) {
  case "#start":
    result.classList.remove('bars');
    shuffle();
    break;

  case "#bars":
    result.classList.add('bars');
    result.classList.add('bars-transition');
    break;

  case "#bars-done":
    result.classList.add('bars');
    break;

  case "#first":
  case "#second":
  case "#third":
    result.classList.add('focus');
    result.classList.add(newState.substring(1));
    break;

  default:
    return;
  }
}

document.onkeydown = (e) => {
  var stateIndex = validStates.indexOf(currentState);
  if (stateIndex >= 0) {
    switch (e.key) {
    case "Backspace":
      window.location.hash = validStates[0]
      location.reload();
      break;
    case " ":
      stateIndex = Math.min(stateIndex + 1, validStates.length - 1);
      currentState = validStates[stateIndex];
      window.location.hash = currentState;
      break;
    }
  }
}

shuffle();

    </script>
{{ end }}
