<!DOCTYPE html>
<html lang="en" {{ block "html-extra" . }}{{ end }}>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <meta name="generator" content="Granola {{ granolaVersion }}">
    <title>{{ block "title" . }}Granola{{ end }}</title>
    {{ block "picocss" . }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.0.6/css/pico.min.css" integrity="sha256-3V/VWRr9ge4h3MEXrYXAFNw/HxncLXt9EB6grMKSdMI=" crossorigin="anonymous">
    {{ end }}
    <link rel="stylesheet" href="/css/granola.css">
    <link rel="icon" href="/logo/granola-black-outline.ico" sizes="48x48">
    <link rel="icon" href="/logo/granola-black-outline.svg" sizes="any" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/logo/granola-black-outline-180x180.png">
    <link rel="manifest" href="/manifest.json">
    <script src="/js/granola.js"></script>
    {{ block "head" . }}
    {{ end }}
  </head>
  {{ block "body" . }}
  <body class="{{ join (split templateName "/") " " }} container">
    <header>
      <nav>
        <ul><li><strong>Granola</strong></li></ul>
        {{ block "navigation" . }}
        {{ end }}
        {{ block "user" . }}
        {{ end }}
      </nav>
    </header>
    <main>
      <div id="top-bar">
        <nav aria-label="breadcrumb">
          {{ block "breadcrumbs" . }}
          {{ end }}
        </nav>
        <div class="actions">
          {{ block "actions" . }}
          {{ end }}
        </div>
      </div>
      {{ block "content" . }}
      {{ end }}
    </main>
    <footer>
      <a href="https://gitlab.com/granola-compo/granola/" class="logo">Granola compo system</a>
    </footer>
  </body>
  {{ end }}
</html>
