{{ define "title" }}{{ .Title }}{{ end }}
{{ define "actions" }}<!---->{{ end }}
{{ define "content" }}
{{ with .Problem }}
    <h2>Error: {{ .title }}</h2>
    <p>{{ .detail }}</p>
{{ else }}
    <h2>Error</h2>
    <p>We are very sorry, but an unexpected error seems to have occurred.</p>
{{ end}}
{{ end }}
