{{ define "navigation" }}
  {{ $url := "" }}
  {{ if and .HttpContext .HttpContext.URL }}
    {{ $url = .HttpContext.URL }}
  {{ end }}
  <ul>
    <li {{ if eq $url "" }}class="active"{{ end }}>
      <a href="/">Home</a>
    </li>

    {{ with .User }}
      <li {{ if hasPrefix $url "/entries" }}class="active"{{ end }}>
        <a href="/entries">Entries</a>
      </li>
      {{ if .Permissions.CanVote }}
      <li {{ if hasPrefix $url "/voting" }}class="active"{{ end }}>
        <a href="/voting">Voting</a>
      </li>
      {{ end }}
    {{ else }}
      <li {{ if hasPrefix $url "/register" }}class="active"{{ end }}>
        <a href="/register">Register</a>
      </li>
      <li {{ if hasPrefix $url "/login" }}class="active"{{ end }}>
        <a href="/login">Login</a>
      </li>
    {{ end }}
  </ul>
{{ end }}

{{ define "user" }}
  {{ with .User }}
  <form method="post" action="/logout" class="auth-info">
    <ul>
      <li>
        <a href="/profile" class="icon" data-tooltip="{{ .Handle }}'s user profile" data-placement="left">
          <i class="user">{{ .Handle }}</i>
        </a>
      </li>
      <li>
        <button type="submit" class="icon" title="Log out" data-tooltip="Log out" data-placement="left">
          <i class="logout">Log out</i>
        </button>
      </li>
    </ul>
  </form>
  {{ end }}
{{ end }}
