{{ define "compos" }}
  {{ if .Compos }}
    <ul class="cards">
    {{ range .Compos }}
      <li class="{{ .Type }}">
        <a href="/entries?compo={{ .ID }}#add-entry">
          <article>
            <header><strong>{{ .Name }}</strong></header>
            <div class="description">
              {{ .DescriptionHtml }}
            </div>
          </article>
        </a>
      </li>
    {{ end }}
    </ul>
  {{ else }}
    <p>There's unfortunately currently no open compos.</p>
  {{ end }}
{{ end }}
