{{ define "title" }}Entries{{ end }}
{{ define "breadcrumbs" }}
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/entries">Entries</a></li>
  </ul>
{{ end }}

{{ define "actions" }}
  <a href="#choose-compo" class="icon" data-tooltip="Add entry" data-placement="left">
    <i class="add">Add entry</i>
  </a>

  <dialog id="choose-compo">
    <article>
      <header>
        <a href="#close" aria-label="Close" rel="prev"></a>
        <strong>Add entry</strong>
      </header>

      {{ if gt (len .Compos) 0 }}
        {{ if gt (len .Entries) 0 }}
          <p>
            If you have more to contribute, feel free to add another entry in one of
            the compos listed below!
          </p>
        {{ else }}
          <p>
            You have no entries yet. Select a compo from the list below to add one!
          </p>
        {{ end }}

        {{ template "compos" . }}

      {{ else }}
        <p>No competitions are currently open for submission!</p>
      {{ end }}
    </article>
  </dialog>

  <dialog id="add-entry">
    <article>
      <header>
        <a href="#close" aria-label="Close" rel="prev"></a>
        <strong>Add entry</strong>
      </header>
      <p>Add an entry to the {{ .SelectedCompo.Name | smartQuote }} competition.</p>
      <form action="/entries" method="POST">
        <input type="hidden" name="compo" value="{{ .SelectedCompo.ID }}">

        <label for="title">Title:</label>
        <input type="text" name="title" id="title" required placeholder="Title">

        <label for="author">Author:</label>
        <input type="text" name="author" id="author" required placeholder="Author">

        {{ if .SelectedCompo.MultiPlatform }}
        <label for="platform">Platform:</label>
        <input type="text" name="platform" id="platform" placeholder="Platform">
        {{ end }}

        <label for="notes">Notes:
          {{ if .Config.UseEntryMarkdown }}
          <span class="fade">(Markdown supported)</span>
          {{ end }}
        </label>
        <textarea name="notes" id="notes" rows="4" placeholder="Notes"></textarea>

        <input type="submit" value="Add">
      </form>
    </article>
  </dialog>
{{ end }}

{{ define "content" }}
  <div id="content">
    <h2>Your entries</h2>
    {{ if eq (len .Entries) 0 }}
    <p>You have no entries yet. Please <a href="#choose-compo">add one</a> now!</p>
    {{ else }}
    <p>You can find your existing entries in the below table.</p>
    <div class="overflow-auto">
      <table class="entries">
        <thead>
          <tr>
            <th class="title">Title</th>
            <th class="author">Author</th>
            <th class="platform">Platform</th>
            <th class="compo">Compo</th>
            <th class="uploads">Uploads</th>
            <th class="action">Action</th>
          </tr>
        </thead>
        <tbody>
        {{ range .Entries }}
        <tr class="deletable">
          <td class="user-input"><a href="{{ .Path }}">{{ .Title }}</a></td>
          <td class="user-input">{{ .Author }}</td>
          <td class="user-input">{{ .Platform }}</td>
          <td>{{ .Compo.Name }}</td>
          <td class="uploads">{{ len .Uploads }}</td>
          <td class="action">
            <a href="#delete-entry-{{ .ID }}" class="icon" data-tooltip="Delete {{ .Title | smartQuote }}" data-placement="left">
              <i class="delete">Delete {{ .Title | smartQuote }}</i>
            </a>

            <dialog id="delete-entry-{{ .ID }}">
              <article>
                <header>
                  <a href="#close" aria-label="Close" rel="prev"></a>
                  <strong>Delete entry</strong>
                </header>
                {{ if .Locked }}
                  <p>
                    {{ .Title | smartQuote }} can't be deleted because it has been
                    <strong>locked by administrators.</strong> The most likely
                    explanation is that the entry has been accepted into
                    {{ .Compo.Name | smartQuote }}.
                  </p>
                {{ else }}
                  <p>Are you sure you want to delete {{ .Title | smartQuote }}?</p>
                {{ end }}
                <form action="{{ .Path }}" method="post">
                  <input type="hidden" name="_method" value="DELETE">
                  <button name="delete" type="submit" {{ if .Locked }}disabled{{ end }}>Delete <i class="icon delete"></i></button>
                </form>
              </article>
            </dialog>
          </td>
        </tr>
        {{ end }}
        </tbody>
      </table>
    </div>

    {{ end }}
  </div>
{{ end }}
