{{ define "title" }}{{ .Entry.Title }}{{ end }}
{{ define "breadcrumbs" }}
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/entries">Entries</a></li>
    <li><a href="{{ .Entry.Path }}">{{ .Entry.Title }}</a></li>
  </ul>
{{ end }}

{{ define "actions" }}
<ul>
  <li>
    <a href="#edit-entry" class="icon" title="Edit entry" data-tooltip="Edit {{ .Entry.Title | smartQuote }}" data-placement="left">
      <i class="edit">Edit {{ .Entry.Title | smartQuote }}</i>
    </a>

    <dialog id="edit-entry">
      <article>
        <header>
          <a href="#close" aria-label="Close" rel="prev"></a>
          <strong>Edit entry</strong>
        </header>

        {{ if .Entry.Locked }}
          <p>
            This entry has been locked by the competition organizers, and
            cannot be changed.
          </p>
        {{ end }}

        <form action="{{ .Entry.Path }}" method="post">
          <fieldset {{ if .Entry.Locked }}disabled{{ end }}>
            <input type="hidden" name="_method" value="PUT">

            <label for="title">Title:</label>
            <input type="text" name="title" id="title" placeholder="Title" value="{{ .Entry.Title }}" required>

            <label for="author">Author:</label>
            <input type="text" name="author" id="author" placeholder="Author" value="{{ .Entry.Author }}" required>

            {{ if .Entry.Compo.MultiPlatform }}
            <label for="platform">Platform:</label>
            <input type="text" name="platform" id="platform" placeholder="Platform" value="{{ .Entry.Platform }}">
            {{ end }}

            <label for="notes">Notes:
              {{ if .Config.UseEntryMarkdown }}
              <span class="fade">(Markdown supported)</span>
              {{ end }}
            </label>
            <textarea name="notes" id="notes" rows="4" placeholder="Notes">{{ .Entry.Notes }}</textarea>

            <input type="submit" value="Update" {{ if .Entry.Locked }}disabled{{ end }}>
          </fieldset>
        </form>
      </article>
    </dialog>
  </li>
  <li>
    <a href="#add-upload" class="icon" data-tooltip="Add upload" data-placement="left">
      <i class="add">Add upload</i>
    </a>

    <dialog id="add-upload">
      <article>
        <header>
          <a href="#close" aria-label="Close" rel="prev"></a>
          <strong>Add upload</strong>
        </header>

        {{ if .Entry.Locked }}
          <p>
            This entry has been locked by the competition organizers, and
            cannot be changed.
          </p>
        {{ else }}
          <p>Add upload to {{ .Entry.Title | smartQuote }}.</p>
        {{ end }}

        <form action="{{ .Entry.Path }}/uploads" method="POST" enctype="multipart/form-data">
          <fieldset {{ if .Entry.Locked }}disabled{{ end }}>
            <input type="file" name="file" id="file" required aria-label="File">
            <input type="submit" value="Add">
          </fieldset>
        </form>
      </article>
    </dialog>
  </li>
</ul>
{{ end }}

{{ define "content" }}
<h2>{{ .Entry.Title }} by {{ .Entry.Author }}</h2>

<article class="entry-frame">
  <header><strong>Slide preview</strong></header>
  <iframe src="{{ .Entry.Path }}/preview"></iframe>
</article>

<h3>Uploads</h3>

{{ if eq (len .Entry.Uploads) 0 }}
<p>
  {{ .Entry.Title | smartQuote }} has no uploads, perhaps it's time to
  <strong><a href="#add-upload">add one</a></strong> now?
</p>
{{ end }}

<div id="content" {{ if eq (len .Entry.Uploads) 0 }}class="empty"{{ end }}>
  <p>
    {{ .Entry.Title | smartQuote }} has {{ len .Entry.Uploads }} uploads. You can
    <a href="#add-upload">add more uploads</a> if you want to, or just
    sit back and enjoy the party.
    <strong>Good luck in the competition!</strong>
  </p>
  <div class="overflow-auto">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th class="size">Size</th>
          <th class="date">Updated</th>
          <th class="action">Action</th>
        </tr>
      </thead>
      <tbody>
      {{ range .Entry.Uploads }}
      <tr class="deletable">
        <td class="user-input"><a href="{{ .Path }}">{{ .Filename }}</a></td>
        <td class="size" title="{{ .ContentSize }} bytes">{{ humanize "bytes" .ContentSize }}</td>
        <td class="date"><time datetime="{{ .UpdatedAt | dateTime }}">{{ humanize "time" .UpdatedAt }}</time></td>
        <td class="action">
          <a href="#delete-upload-{{ .ID }}" class="icon" data-tooltip="Delete upload" data-placement="left">
            <i class="delete">Delete upload</i>
          </a>

          <dialog id="delete-upload-{{ .ID }}">
            <article>
              <header>
                <a href="#close" aria-label="Close" rel="prev"></a>
                <strong>Delete upload</strong>
              </header>

              {{ if .Entry.Locked }}
                <p>
                  {{ .Filename | smartQuote }} can't be deleted because it belongs to the
                  entry <a href="{{ .Entry.Path }}">{{ .Entry.Title }}</a> which has been
                  <strong>locked by administrators.</strong>
                </p>
              {{ else }}
                <p>Are you sure you want to delete the upload {{ .Filename | smartQuote }}?</p>
              {{ end }}

              <form action="{{ .Path }}" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <button name="delete" type="submit" {{ if .Entry.Locked }}disabled{{ end }}>Delete <i class="icon delete"></i></button>
              </form>
            </article>
          </dialog>
        </td>
      </tr>
      {{ end }}
      </tbody>
    </table>
  </div>
</div>
{{ end }}
