{{ define "title" }}{{ .Title }}{{ end }}
{{ define "breadcrumbs" }}
  <ul>
    <li><a href="/">Home</a></li>
  </ul>
{{ end }}
{{ define "actions" }}<!---->{{ end }}
{{ define "content" }}
  <header class="logo">
    <h1>Granola</h1>
    <p>A minimal, modern competition system for demoparties.</p>
  </header>
  {{ if .User }}
    <p>
      Welcome to the party, {{ .User.Handle }}!

      {{ if .Compos }}
        {{ if .User.Entries }}
          You have
            <a href="/entries">{{ len .User.Entries }}
              {{ if gt (len .User.Entries) 1 }}entries{{ else }}entry{{ end }}
            </a>
          in the system. If you want to add more, please do so in the
          competitions listed below.
        {{ else }}
          Please consider adding an entry in one of the competitions listed
          below.
        {{ end }}
      {{ end }}
    </p>

    {{ template "compos" . }}
  {{ else }}
    <p>
      Please <a href="/register">register a user</a>, and
      <a href="/login">see yourself inside</a>!
    </p>
  {{ end }}
{{ end }}
