{{ define "title" }}Login{{ end }}
{{ define "breadcrumbs" }}
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/login">Login</a></li>
  </ul>
{{ end }}
{{ define "actions" }}<!---->{{ end }}
{{ define "content" }}
<h3>Login</h3>
<form action="/login" method="POST">
  <label for="email">Email:</label>
  <input type="email" name="email" id="email" value="{{ .Email }}" required autocomplete="email" placeholder="Email">

  <label for="password">Password:</label>
  <fieldset role="group" class="password">
    <input type="password" name="password" id="password" {{ if .Error }}aria-invalid="true" aria-describedby="invalid-password" {{ end }}required autocomplete="current-password" placeholder="Password"{{ if .Email }} autofocus{{ end }}>
  </fieldset>
  {{ with .Error }}
  <small id="invalid-password" role="alert">{{ . }}</small>
  {{ end }}

  <input type="submit" value="Login">
</form>

{{ end }}
