{{ define "title" }}{{ .User.Email }}{{ end }}
{{ define "breadcrumbs" }}
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/profile">Profile</a></li>
  </ul>
{{ end }}
{{ define "actions" }}<!---->{{ end }}
{{ define "content" }}
<h2>{{ .User.Handle }}</h2>

<dialog id="edit-email">
  <article>
    <header>
      <a href="#" aria-label="Close" rel="prev"></a>
      <p><strong>Edit email</strong></p>
    </header>
    <form action="/profile" method="post">
      <fieldset>
        <input type="hidden" name="_method" value="PATCH">

        <label>
          Email:
          <input type="email" name="email" id="email" required placeholder="Email" value="{{ .User.Email }}">
        </label>

        <input type="submit" value="Update">
      </fieldset>
    </form>
  </article>
</dialog>

<dialog id="edit-handle">
  <article>
    <header>
      <a href="#" aria-label="Close" rel="prev"></a>
      <p><strong>Edit handle</strong></p>
    </header>
    <form action="/profile" method="post">
      <fieldset>
        <input type="hidden" name="_method" value="PATCH">

        <label>
          Handle:
          <input type="text" name="handle" id="handle" required placeholder="Handle" value="{{ .User.Handle }}">
        </label>

        <input type="submit" value="Update">
      </fieldset>
    </form>
  </article>
</dialog>

<dialog id="change-password">
  <article>
    <header>
      <a href="#" aria-label="Close" rel="prev"></a>
      <p><strong>Change password</strong></p>
    </header>
    <form action="/profile" method="post">
      <fieldset>
        <input type="hidden" name="_method" value="PATCH">

        <label>
          Old password:
          <fieldset role="group" class="password">
            <input class="password" type="password" name="old-password" id="old-password" required minlength="{{ .Config.MinimumPasswordLength }}" autocomplete="password" placeholder="Password">
          </fieldset>
        </label>

        <label>
          New password:
          <fieldset role="group" class="password">
            <input type="password" name="password" id="password" required minlength="{{ .Config.MinimumPasswordLength }}" autocomplete="new-password" placeholder="Password">
          </fieldset>
        </label>

        <div id="password-confirm-wrapper" style="display: none">
          <label for="password-confirm">Confirm new password:</label>
          <fieldset role="group" class="password">
            <input type="password" name="password-confirm" id="password-confirm" required minlength="{{ .Config.MinimumPasswordLength }}" autocomplete="new-password" placeholder="Confirm password">
          </fieldset>
        </div>

        <input type="submit" value="Update">
      </fieldset>
    </form>


  </article>
</dialog>

<label for="dummy-email">Email:</label>
<div role="group">
  <input type="email" id="dummy-email" value="{{ .User.Email }}" disabled>
  <a role="button" href="#edit-email" data-tooltip="Edit email address" data-placement="top">Edit</a>
</div>

<label for="dummy-handle">Handle:</label>
<div role="group">
  <input type="text" id="dummy-handle" value="{{ .User.Handle }}" disabled>
  <a role="button" href="#edit-handle" data-tooltip="Edit handle" data-placement="top">Edit</a>
</div>

<a role="button" href="#change-password" data-tooltip="Change password" data-placement="top">
  Change password
</a>

{{ end }}
