{{ define "title" }}Register{{ end }}
{{ define "breadcrumbs" }}
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/register">Register</a></li>
  </ul>
{{ end }}
{{ define "actions" }}<!---->{{ end }}
{{ define "content" }}
<h3>Register user</h3>
<form action="/register" method="POST">

  <label for="email">Email:</label>
  <input type="email" name="email" id="email" value="{{ .Email }}" {{ if .Errors.email }}aria-invalid="true" aria-describedby="invalid-email" {{ end }}required minlength="3" autocomplete="email" placeholder="Email">
  {{ with .Problems.email }}
  <small id="invalid-invite" role="alert">{{ . }}</small>
  {{ end }}

  <label for="handle">Handle:</label>
  <input type="text" name="handle" id="handle" value="{{ .Handle }}" required minlength="2" autocomplete="nickname" placeholder="Handle">

  <label for="password">Password:</label>
  <fieldset role="group" class="password">
    <input type="password" name="password" id="password" required minlength="{{ .Config.MinimumPasswordLength }}" autocomplete="new-password" placeholder="Password">
  </fieldset>

  <div id="password-confirm-wrapper" style="display: none">
    <label for="password-confirm">Confirm password:</label>
    <fieldset role="group" class="password">
      <input type="password" name="password-confirm" id="password-confirm" required minlength="{{ .Config.MinimumPasswordLength }}" autocomplete="new-password" placeholder="Confirm password">
    </fieldset>
  </div>

  <label for="invite">Invite code:</label>
  <input type="text" name="invite" id="invite" value="{{ .Invite }}" {{ if .Errors.invite }}aria-invalid="true" aria-describedby="invalid-invite" {{ end }}required placeholder="Invite code">
  {{ with .Problems.invite }}
  <small id="invalid-invite" role="alert">{{ . }}</small>
  {{ end }}

  <input type="submit" value="Register">
</form>

{{ end }}
