{{ define "title" }}{{ .Upload.Filename }}{{ end }}
{{ define "breadcrumbs" }}
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/entries">Entries</a></li>
    <li><a href="{{ .Upload.Entry.Path }}">{{ .Upload.Entry.Title }}</a></li>
    <li><a href="{{ .Upload.Path }}">{{ .Upload.Filename }}</a></li>
  </ul>
{{ end }}
{{ define "actions" }}<!---->{{ end }}
{{ define "content" }}
<h2 class="filename">{{ .Upload.Filename }}</h2>

{{ $uploadPath := (print .Upload.Path "/data") }}

<figure>
  {{ if .Upload.IsImage }}
  <img src="{{ $uploadPath }}" alt="{{ .Upload.Filename }}">
  {{ else if .Upload.IsAudio }}
  <audio controls>
    <source src="{{ $uploadPath }}" type="{{ .Upload.ContentType }}">
    Your browser does not support the audio element.
  </audio>
  {{ else if .Upload.IsVideo }}
  <video controls>
    <source src="{{ $uploadPath }}" type="{{ .Upload.ContentType }}">
    Your browser does not support the video element.
  </video>
  {{ else }}
  <a class="icon" href="{{ $uploadPath }}"><i class="document">Download file</i></a>
  {{ end }}

  <figcaption>
    <a href="{{ $uploadPath }}">{{ .Upload.Filename }}</a>
    <small title="{{ .Upload.ContentSize }} bytes">{{ humanize "bytes" .Upload.ContentSize }}</small>
  </figcaption>
</figure>

{{ end }}
