{{ define "title" }}Voting{{ end }}
{{ define "head" }}
  <script src="/js/granola-voting.js"></script>
{{ end }}
{{ define "breadcrumbs" }}
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/voting">Voting</a></li>
  </ul>
{{ end }}
{{ define "actions" }}<!---->{{ end }}
{{ define "content" }}
  {{ $this := . }}
  <div id="voting" class="live">
    <h2>Live voting</h2>

    <p>Vote on entries as they are played on the big screen!</p>

    {{ if .Playlist.LiveVotingClosedAt.Valid }}

    <p>
    {{ .Playlist.Name }} was closed for live-voting
    <time datetime="{{ .Playlist.LiveVotingClosedAt.Time }}">
      {{ humanize "time" .Playlist.LiveVotingClosedAt.Time }}</time>.
      You therefore cannot live-vote on anything at the moment.
    </p>
    <p>
      If you want to be ready to vote for the next live competition, head over
      <a href="/voting/live">here</a> and wait for it to start!
    </p>

    {{ else }}
    <p>
      Live voting is currently active for the "{{ .Playlist.Name}}" competition,
      please head over <a href="/voting/live">here</a> to vote!
    </p>
    {{ end }}
  </div>
  <hr>

  <div>
    <h2>Previous competitions</h2>
    <p>Vote on entries from previously shown competitions!</p>

    {{ if len .Playlists | ne 0 }}

    <p>
      Please use the drop-down selector below to choose a completed
      competition to vote in.
    </p>

    <details class="dropdown">
      <summary>Select competition</summary>
      <ul>
        {{ range .Playlists }}
          <li><a href="{{ .VotingPath }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </details>

    {{ else }}
    <p>
      Voting seems to be closed on all other competitions, which
      means you're free to enjoy the rest of the party!
    </p>
    {{ end }}

  </div>
{{ end }}
